<!DOCTYPE html>
<html lang="en"  layout:decorator="layouts/main">
<meta charset="UTF-8" />
<head>
	<title>Szállítási adatok</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="datas/images/icons/favicon.ico"/>
<!--===============================================================================================-->
<!-- 	<link rel="stylesheet" type="text/css" href="datas/vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/vendor/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="datas/css/util.css">
	<link rel="stylesheet" type="text/css" href="datas/css/main.css">
<!--===============================================================================================-->
</head>
<body>

<div layout:fragment="infoBar">
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/dataToReg" th:object="${user}">
				<span class="contact100-form-title">
					Adatok a szállításhoz
				</span>

				<div class="wrap-input100 validate-input bg1" data-validate="Kérem írja be a nevét">
					<span class="label-input100">az Ön neve *</span>
					<input class="input100" type="text" name="name" th:value="${name}" placeholder="az Ön neve"  th:field="*{name}">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100 validate-input bg1" data-validate = "06xxxxx...">
					<span class="label-input100">Telefonszám</span>
					<input class="input100" type="text" name="phone" th:value="${phone}" placeholder="az Ön telefonszáma"   th:field="*{phone}">
				</div>

				<div class="wrap-input100 validate-input bg1 " data-validate = "utca, házszám...">
					<span class="label-input100">Utca, házszám *</span>
					<input class="input100" type="text" name="address"  th:value="${street}" placeholder="ahova a terméket szállíthatjuk Önnek"   th:field="*{street}">
				</div>
<div th:if="${badcity}" class="alert alert-danger" role="alert">Kérjük válasszon a listából, vagy adjon meg tetszőleges helységet</div>
								<div class="wrap-input100 input100-select bg1 validate-input"  data-validate="Kérem írja be a nevét">
					<span class="label-input100">Város, község... *</span>
					<div>
						<select class="js-select2" name="county">
							<option value="n">Kérjük válasszon helységet</option>
							<option value="Debrecen">Debrecen</option>
							<option value="Debrecen-Józsa">Debrecen-Józsa</option>
							<option value="Budapest">Budapest</option>
							
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				
<div class="wrap-input100 bg1 ">
					<span class="label-input100">Egyéb helység megadása</span>
					<input class="input100" type="text" th:value="${city}" placeholder="amennyiben a fenti lista nem volt megfelelő Önnek..." th:field="*{city}">
				</div>
				<div class="wrap-input100">
					<span class="label-input100">Megjegyzés</span>
					<textarea class="input100" name="message" placeholder="kapukód, kaputelefon...." th:value="${comment}"   th:field="*{comment}"></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							Rögzítés
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="datas/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="datas/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<!-- 	<script src="datas/vendor/bootstrap/js/popper.js"></script> -->
<!-- 	<script src="datas/vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
	<script src="datas/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="datas/vendor/daterangepicker/moment.min.js"></script>
	<script src="datas/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="vendor/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="datas/js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</div>
<div layout:fragment="workBar"></div>
</body>
</html>
